.ldm-panel {
  position: fixed;
  width: 100%;
  height: 0;
  padding: 0;
  transition: all .1s ease-in-out 0s;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  z-index: 2;

  &-show {
    padding: 24PX 24Px 16PX;
    background-color: #f7f7f7;
  }
}
