page {
  height: 100%;

  .ldm-inputPanel {
    position: relative;
    height: calc(100% - 52PX);
    z-index: 1;
  }

  .ldm-inputPanel-detail {

    .ldm-communications-communicationsBar {
      &-communicationsValue {
        &.at-input {
          &:after {
            border: none;
          }
        }

        .at-input {

          &__container {
            width: 100%;
          }

          &__input {
            padding: 16px 16px 16px 28px;
            margin-left: 16px;
            background-color: #f7f7f7;
            border-radius: 36px;
          }

          &__children {
            &:after {
              border: none;
            }
          }
        }
      }

      &-post {
        &-button {
          width: 48PX;
          height: 36PX;
          line-height: 36PX;
          background-color: #fb2a5d;
          border-color: #fb2a5d;
          color: #fff;
        }
      }


      //.at-search-bar__input-cnt {
      //
      //    height: 36PX;
      //
      //  .at-search-bar__placeholder-wrap {
      //
      //
      //      height: 36PX;
      //      justify-content: flex-start;
      //      padding-left: 4PX;
      //
      //    .at-icon {
      //      display: none;
      //    }
      //  }
      //
      //  .at-search-bar__input {
      //    height: 36PX !important;
      //    font-size: 16PX !important;
      //    padding-left: 8PX;
      //  }
      //
      //  .at-search-bar__clear {
      //    height: 36PX;
      //    font-size: 16PX;
      //  }
      //}
      //
      //.at-search-bar__action {
      //  height: 36PX;
      //  line-height: 36PX;
      //  background-color: #fb2a5d;
      //}
      //
      //&-focus {
      //  .at-search-bar__action {
      //    margin-left: 10PX;
      //  }
      //}
    }
  }
}
