@import '~taro-ui/dist/style/components/flex.scss';
@import '~taro-ui/dist/style/components/button.scss';
@import '~taro-ui/dist/style/components/icon.scss';
@import '~taro-ui/dist/style/components/input.scss';
@import '~taro-ui/dist/style/components/loading.scss';

.ldm-communications-communicationsBar {
  width: 100%;
  position: fixed;
  height: 52PX;
  background-color: white;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 0 5PX #eee;
  background-color: white;
  box-sizing: border-box;
  transition: all .1s ease-in-out 0s;

  &-addFunc {
    margin: 0 16px;
    padding: 0;
    border-radius: 50%;
  }

  &-communicationsValue {
    height: 36PX;
    margin: 0;
    display: flex;
  }

  &-post {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
